<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/static/pyscript.css" />
    <script defer src="/static/pyscript.min.js"></script>
    <!-- <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript_base.css" /> -->
    <!-- <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->
</head>

<body>
    <h1>Hello! Have a REPL:</h1>
    <div>
        <py-repl id="my-repl" auto-generate="true"> </py-repl>
    </div>
</body>

</html>